* {

  margin: 0;

}

body {

  background-color: #f1f1f0;
  margin-inline: auto;
  max-width: 1920px;
  font-family: 'Roboto', sans-serif;

}

section {

  padding: 6rem 0rem 6rem 9rem;

  @media (max-width: 1600px){

    padding: 6rem 5rem;

  }

  @media (max-width: 764px) {

    padding: 2.5rem;
    
  }

  @media (max-width: 375px){

    padding: 2rem;

  }  
  @media (max-width:280px) {

    padding: 1.5rem;
    
  }
}

.section-content {

  display: flex;
  gap: 1.5rem;
  overflow-x: hidden;

  @media (max-width: 1600px){

    flex-direction: column;
    gap: 4rem;
    
  }

  @media (max-width: 375px){

    gap: 3rem;

  }
}

.text {

  min-width: 540px;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  color: #1e2a35;

  h1 {

    font-size: 80px;
    width: 80%;
    padding-bottom: 1.5rem;
    font-weight: bold; 

  }

  p {

    font-size: 23px;
    line-height: 40px;
    font-weight: inherit;
  }

  @media (max-width:1600px) {

    min-width: 90%;
    
  }

  @media (max-width:1200px) {

    display: flex;
    align-items: center;

    p, h1 {

      width: 100%;

    }
  }

  @media (max-width:913px) {

    align-self: center;

    p, h1 {

      max-width: 100%;

    }
  }
  
  @media (max-width:900px) {

    max-width: 100%;

    p, h1 {

      width: 100%;

    }
  }

  @media (max-width:764px) {

    min-width: 200px;

    h1 {

      font-size: 60px;
      width: 100%;
  
    }

    p {

      font-size: 19px;
      width: 100%;

    }
  }

  @media (max-width:500px) {

    p {
      line-height: 30px;
    }
  }

  @media (max-width: 375px){

    width: 100%;
    
    h1 {

      font-size: 45px;
      width: 100%;

    }

    p {

      font-size: 15px;
      line-height: 30px;
      width: 100%;

    }
  }
}

.cards {

  display: flex;
  gap: 2rem;

  &__item {

    min-width: 500px;
    transition: all 0.5s; 


    &__top {

      display: flex;
      max-height: 310px;
      background-color: #22a79a;
      overflow: hidden;
      position: relative;

      &__title {

        h3 {

          background-color: #269085;
          padding: 1rem;
          color: white;
          position: absolute;
          font-weight: normal;
          font-size: 15px;

        }
      }

      &__images {

        display: flex;
        gap: 1rem;
        width: 100%;
        justify-content: end;

      }
      
      .img-container {

        width: 100%;
        height: 100%;

        img {

          object-fit: cover;
          width: 100%;

        }
      }

      .img1 {

        max-width: 205px;
        justify-content: end;

      }

      .img2 {

        max-width: 205px;

      }
    }

    &__bottom {

      min-height: 210px;
      background-color: #fffefe;
      padding: 2.2rem;

      h3 {

        font-size: 32px;
        padding-bottom: 2rem;
        color: #1e2a35;

      }

      p {

        color: #479b92;
        font-size: 22px;
        font-weight: bold;
        cursor: pointer;

      }
    }
  }

  @media (max-width:1600px) {

    &__item {
      max-width: 610px;
      min-width: 470px;

    }
  }
  

  @media (max-width: 1400px){

    flex-direction: column;
    align-items: center;
    gap: 3rem;

    &__item {

      max-width: 650px;
      min-width: 600px;

    }
  }

  @media (max-width:900px) {

    &__item {

      &__bottom {

        max-height: 200px;
        min-height: 190px;

      }
    }
  }

  @media (max-width:820px) {

    &__item {
      min-width: 650px;
    }
  }

  @media (max-width:768px) {

    &__item {
      min-width: 600px;
    }
  }

  @media (max-width: 700px) {

    &__item {

      min-width: 200px;
      max-width: 500px;

      &__bottom {

        h3 {
          font-size: 25px;
          padding-bottom: 2rem;

        }

        p {

          font-size: 15px;

        }
      }
    }
  }

  @media (max-width:680px) {

    &__item {
      max-width: 450px;

    }
    
  }

  @media (max-width:540px) {

    &__item {
      // max-width: 450px;
      min-width: 450px;

      &__top {

        max-height: 240px;

        &__title {

          h3 {
  
            font-size: 12px;
  
          }
        }
      }

      &__bottom {

        min-height: 100px;

        h3 {

          font-size: 23px;
        }
      }
    }
  }

  @media (max-width:428px) {

    &__item {

      max-width: 330px; 
      min-width: 300px;

    }
    
  }

  @media (max-width:415px) {

    &__item {

      min-width: 330px;
    }
    
  }

  @media (max-width:396px) {

    &__item {

      max-width: 100%;

      &__top {

        max-height: 180px;
      }
    }
  }

  @media (max-width: 375px){

    &__item {

      min-width: 310px;

      &__top {

        max-height: 180px;

      }

      &__bottom {

        max-height: 150px;
        min-height: 90px;

        h3 {

          font-size: 20px;
          padding-bottom: .5rem;

        }

        p {

          font-size: 15px;

        }
      }
    }
  }

  @media (max-width:320px) {

    &__item {

    max-width: 250px;
    min-width: 250px;

    }
    
  }

  @media (max-width:290px) {

    &__item {

      min-width: 200px;
      max-width: 230px;

      &__bottom {

        padding: 1rem;
      }
    }
  }
}

.navbar {

  display: flex;
  width: 100%;
  padding-top: 3rem;

  &__list {

    display: flex;
    gap: .7rem;
    width: 99%;
    justify-content: center;
    align-items: center;

    &__item {

      width: 30px;
      height: 3px;
      background-color: #b0d6d0;
      transition: all 0.5s;

    }

    .active {

      background-color: #479b92;
      width: 40px;

    }
  }

  &__arrow {

    color: #269085;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    width: 1%;
    display: flex;
    margin-right: 10rem;

  }

  @media (max-width:1600px) {
    &__arrow {
      padding-right: .5rem;
    }
    
  }
 
  @media (max-width: 1400px){
    &__arrow, &__list {
      display: none;
    }
  } 
}

.slider {

  width: 1200px;
  height: 580px;
  overflow: hidden; 
  display: flex;
  gap: .5rem;

  @media (max-width:1600px) {

    width: 100%;
    justify-content: start;
    gap: 2.5rem;
    
  }

  @media (max-width:1400px) {

    flex-direction: column;
    width: 800px;
    height: auto;
    justify-content: center;
    margin: auto;
    align-items: center;
    
  }

  @media (max-width:1025) {

    align-items: start;
    
  }

  @media (max-width:960px) {

    max-width: 600px;
    min-width: 450px;
    
  }

  @media (max-width:912px) {

    max-width: 740px;
    min-width: 730px;
    
  }

  @media (max-width:820px) {

    max-width: 650px;
    min-width: 650px;
  }

  @media (max-width:768px) {

    max-width: 600px;
    min-width: 570px;
    
  }

  @media (max-width:680px) {

    max-width: 450px;
    
  }

  @media (max-width:540px) {

    align-items: start;
    max-width: 450px;
    min-width: 300px;
    
  }

  @media (max-width:530px) {

    max-width: 330px;
    min-width: 250px;
    
  }

  @media (max-width:390px) {

    max-width: 100%;
    
    
  }

  @media (max-width:375px) {

    max-width: 310px;
    min-width: 280px;
    
  }

  @media (max-width:320px) {

    max-width: 250px;
    min-width: 250px;
    
  }

  @media (max-width:290px) {

    max-width: 230px;
    min-width: 210px;
    
  }

}

.slide {

  max-width: 265px;
  transition: all 0.5s;

  @media (max-width:1600px) {

    max-width: 220px;
    
  }

  @media (max-width:1400px) {

    max-width: 460px;
    // force slider to column
    transform: translateX(0%) !important;

  }

  @media (max-width:1400px) {

    max-width: 600px;
  }

  @media (max-width:680px) {
    
  }
} 


